@page
<div id="outer">
    <div id="player"></div>
</div>
<style>
    body {
        background-color: black;
        overflow: hidden;
    }
    #outer {
        transform: scale(0.6);
    }
    #player {
        transform: scale(1.3);
    }
</style>
<script src="~/playerjs.js" type="text/javascript" async></script>
<script>
function PlayerjsAsync(){
    player = new Playerjs({id:"player", file:"@ViewBag.FileRoute"});
}
</script>